.selectNeighborhood {
  /* border: 2px solid black; */
  padding-left: 4rem;
  padding-top: 2rem;
  padding-right: 4rem;
}

.neighborhoodTitle {
  margin-bottom: 20px;
  color: #002244;
}

.options {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  overflow: auto;
  overflow-x: hidden;
  max-height: 250px;
  border-radius: 10px;
  /* background: rgb(204, 204, 204); */
  /* background: rgba(255, 255, 255, 0.5); */
  padding: 1rem;
  display: grid;
  grid-template-columns: auto auto auto;
  margin-bottom: 2rem;
  padding-left: 3rem;
}

.option {
  border: 2px solid #002d62;
  max-width: 250px;
  margin-right: 3rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  padding: 1rem;
  color: #0a2351;
  cursor: pointer;
}

.selectedOption {
  border: 2px solid #002d62;
  max-width: 250px;
  margin-right: 3rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  padding: 1rem;
  background-color: #0a2351;
  color: #f9f9f9;
  cursor: pointer;
}

.error {
  padding-left: 3rem;
  color: #ba0021;
  margin-top: -20px;
}

@media (max-width: 319px) {
  .selectNeighborhood {
    /* border: 2px solid black; */
    padding-left: 1.5rem;
    padding-top: 2rem;
    padding-right: 1rem;
  }

  .neighborhoodTitle {
    margin-bottom: 20px;
    color: #002244;
  }

  .options {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    overflow: auto;
    overflow-x: hidden;
    max-height: 200px;
    border-radius: 10px;
    /* background: rgb(204, 204, 204); */
    /* background: rgba(255, 255, 255, 0.5); */
    padding: 1rem;
    display: grid;
    grid-template-columns: auto;
    margin-bottom: 2rem;
    padding-left: 1rem;
  }

  .option {
    border: 2px solid #002d62;
    max-width: 250px;
    margin-right: 3rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    padding: 1rem;
    color: #0a2351;
    cursor: pointer;
  }

  .selectedOption {
    border: 2px solid #002d62;
    max-width: 250px;
    margin-right: 3rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    padding: 1rem;
    background-color: #0a2351;
    color: #f9f9f9;
    cursor: pointer;
  }

  .error {
    padding-left: 1rem;
    color: #ba0021;
    margin-top: -20px;
  }
}

@media (min-width: 319px) and (max-width: 480px) {
  .selectNeighborhood {
    /* border: 2px solid black; */
    padding-left: 2rem;
    padding-top: 2rem;
    padding-right: 4rem;
  }

  .neighborhoodTitle {
    margin-bottom: 20px;
    color: #002244;
  }

  .options {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    overflow: auto;
    overflow-x: hidden;
    max-height: 200px;
    border-radius: 10px;
    /* background: rgb(204, 204, 204); */
    /* background: rgba(255, 255, 255, 0.5); */
    padding: 1rem;
    display: grid;
    grid-template-columns: auto;
    margin-bottom: 2rem;
    padding-left: 1rem;
  }

  .option {
    border: 2px solid #002d62;
    max-width: 250px;
    margin-right: 3rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    padding: 1rem;
    color: #0a2351;
    cursor: pointer;
  }

  .selectedOption {
    border: 2px solid #002d62;
    max-width: 250px;
    margin-right: 3rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    padding: 1rem;
    background-color: #0a2351;
    color: #f9f9f9;
    cursor: pointer;
  }

  .error {
    padding-left: 1rem;
    color: #ba0021;
    margin-top: -20px;
  }
}

@media (min-width: 481px) and (max-width: 1200px) {
  .selectNeighborhood {
    /* border: 2px solid black; */
    padding-left: 2rem;
    padding-top: 2rem;
    padding-right: 4rem;
  }

  .neighborhoodTitle {
    margin-bottom: 20px;
    color: #002244;
  }

  .options {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    overflow: auto;
    overflow-x: hidden;
    max-height: 200px;
    border-radius: 10px;
    /* background: rgb(204, 204, 204); */
    /* background: rgba(255, 255, 255, 0.5); */
    padding: 1rem;
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 2rem;
    padding-left: 2rem;
  }

  .option {
    border: 2px solid #002d62;
    max-width: 250px;
    margin-right: 3rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    padding: 1rem;
    color: #0a2351;
    cursor: pointer;
  }

  .selectedOption {
    border: 2px solid #002d62;
    max-width: 250px;
    margin-right: 3rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    padding: 1rem;
    background-color: #0a2351;
    color: #f9f9f9;
    cursor: pointer;
  }

  .error {
    padding-left: 2rem;
    color: #ba0021;
    margin-top: -20px;
  }
}
