.selectCity {
  /* border: 2px solid black; */
  padding-left: 4rem;
  padding-top: 2rem;
  padding-right: 2rem;
}

.radioTitle {
  margin-bottom: 20px;
  color: #002244;
}

.radioGroup {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  max-width: 40%;
  overflow: auto;
  overflow-x: hidden;
  max-height: 300px;
  border-radius: 10px;
  background: rgb(204, 204, 204);
  background: rgba(255, 255, 255, 0.5);
  padding: 1rem;
}

.radioButton {
  margin: 0.5rem;
  color: #002244;
}

input[type="radio"] {
  content: "";
  padding-top: 10px;
  margin-right: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
}
