body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 0.3em;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
  border-radius: 0px 10px 10px 0px;
  margin-block: 0.2em;
}

::-webkit-scrollbar-thumb {
  background: #00308f;
  border-radius: 0px 10px 10px 0px;
  border: 0.1em solid #c0c0c0;
}
